Tema 1: INTRODUCCIÓN A LOS LENGUAJES DE MARCAS. XML/CUADERNILLO 3/Ejercicio 4/Ej4-EsquemaDTD.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT matricula (personal,pago)>
<!ELEMENT personal (dni,nombre,titulacion,curso_academico,domicilios)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulacion (#PCDATA)>
<!ELEMENT curso_academico (#PCDATA)>
<!ELEMENT domicilios (domicilio+)>
<!ELEMENT domicilio (nombre)>
<!ELEMENT pago (tipo_matricula)>
<!ELEMENT tipo_matricula (#PCDATA)>
<!ATTLIST domicilio tipo (familiar|habitual) #REQUIRED>