Tema 1: INTRODUCCIÓN A LOS LENGUAJES DE MARCAS. XML/U1_T3_DTD/Ej1/ej1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT relacion (persona)*>
<!ELEMENT persona (nombre,email*,parentesco*)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT parentesco (#PCDATA)>
<!ATTLIST persona sexo CDATA #IMPLIED>
<!ATTLIST persona carnet CDATA #REQUIRED>
<!ATTLIST parentesco tipo CDATA #IMPLIED>
