Tema 1: INTRODUCCIÓN A LOS LENGUAJES DE MARCAS. XML/CUADERNILLO 3/Ejercicio 5/discografica_ext.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT discografica (disco*)>
<!ELEMENT disco (título,intérpretes,pistas)>
<!ELEMENT título (#PCDATA)>
<!ELEMENT intérpretes (intérprete+)>
<!ELEMENT intérprete (nombre,apellidos,rol)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT rol (#PCDATA)>
<!ELEMENT pistas (pista+)>
<!ELEMENT pista (nombre,duración)>
<!ELEMENT duración (#PCDATA)>